$white-color: #ffffff;
$grey-color: #eeeeee;
$blue-color: #3bc8e2;
$grey-dark-color: #8c898b;
$black-color: #263238;

html, body, #container, .page {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  font-family: "Kootenay W04", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  .page {
    .banner {
      height: 50px;
      background-color: $blue-color;
      .icon-search {
        line-height: 50px;
        vertical-align: middle;
        padding-left: 10%;
        color: $white-color;
      }
    }
    .page-content {
      display: flex;
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      bottom: 0;
      .navigation {
        width: 25%;
        min-width: 180px;
        align-items: stretch;
        background-color: $black-color;
        position: relative;
        .nav-item {
          align-items: center;
          padding: 15px 25%;
          color: $white-color;
          [class*='icon-'] {
            color: $blue-color;
            margin-right: 10px;
          }
          &:first-child {
            margin-top: 100px;
          }
          &:last-child {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-top: 2px solid $blue-color;
          }
        }
      }
      .feeds {
        width: 75%;
        align-items: stretch;
        .feed {
          margin-left: 50px;
          margin-top: 45px;
          background-color: $grey-color;
          text-align: left;
          border-radius: 8px;
          max-width: 24%;
          display: inline-block;
          .main-photo {
            width: 100%;
            border-radius: 8px 8px 0 0;
          }
          .feed-content {
            padding-left: 10px;
            .feed-title {
              color: $blue-color;
              font-size: 1.0rem;
              font-weight: normal;
            }
            .feed-summary {
              color: $grey-dark-color;
              font-size: 0.9rem;
            }
            .feed-banner {
              margin-bottom: 5px;
              font-size: 0.9rem;
              .feed-source {
                color: $grey-dark-color;
              }
              .icon-star-empty {
                padding: 0 10px 10px 0;
                color: $blue-color;
                float: right;
              }
            }
          }
        }
      }
    }
  }
}
